*.DS_Store
*.wav
*.jpg
*.jpeg
*.png
*.mov
*.mp4
*.mp3
*/cache_spin
cache_spin
OLD_Songs/
OLD_Songs/*
*OLD_Songs/
data/
*__pyc*
.vscode

*.pth

Pipeline/.EasyMocap/data

*.DS_Store
*.ipynb_checkpoint*

0*.json
cfg_*.yml
*tri.yml

OLD*
Other*

Actor/exps
ACTOR/models
ACTOR/pretrained_models
ACTOR/exps
*.tar
*.pkl